{% extends 'accounts/dashbord.html' %}


{% block content %}
<div class="aide">
<div class="aideContent">
	<div class="tete">
		<span class="title">Quelle question voulez vous poser?</span>
		<i class="fa-solid fa-plus"></i>
	</div>
	<p class="reponse">lNam non est id tellus scelerisque ultricies. Fusce posuere, orci quis consectetur adipiscing elit</p>
</div>

<div class="aideContent">
	<div class="tete">
		<span class="title">Quelle question voulez vous poser?</span>
		<i class="fa-solid fa-plus"></i>
	</div>
	<p class="reponse">lNam non est id tellus scelerisque ultricies. Fusce posuere, orci quis consectetur adipiscing elit lNam non est id tellus scelerisque ultricies. Fusce posuere, orci quis consectetur adipiscing elit
	lNam non est id tellus scelerisque ultricies. Fusce posuere, orci quis consectetur adipiscing elit lNam non est id tellus scelerisque ultricies. Fusce posuere, orci quis consectetur adipiscing elit</p>
</div>

<div class="aideContent">
	<div class="tete">
		<span class="title">Quelle question voulez vous poser?</span>
		<i class="fa-solid fa-plus"></i>
	</div>
	<p class="reponse">lNam non est id tellus scelerisque ultricies. Fusce posuere, orci quis consectetur adipiscing elit</p>
</div>

<div class="aideContent">
	<div class="tete">
		<span class="title">Quelle question voulez vous poser?</span>
		<i class="fa-solid fa-plus"></i>
	</div>
	<p class="reponse">lNam non est id tellus scelerisque ultricies. Fusce posuere, orci quis consectetur adipiscing elit</p>
</div>

<div class="aideContent">
	<div class="tete">
		<span class="title">Quelle question voulez vous poser?</span>
		<i class="fa-solid fa-plus"></i>
	</div>
	<p class="reponse">lNam non est id tellus scelerisque ultricies. Fusce posuere, orci quis consectetur adipiscing elit</p>
</div>	
</div>

{% endblock %}
