{% extends 'accounts/dashbord.html' %}


{% block content %}
<div class="aide">
	<div class="aideContent">
		<h3 style="text-align: center;margin-bottom: 3rem">Ma formation {{ formation.identifiant }}</h3>

		<div style="display: flex; gap:2rem;justify-content: center;">
			{% if formation.mis_a_jour %}
			<a href="{% url 'delete_formation' formation.id %}">supprimer</a>
			{% else %}
			<a href="{% url 'export_page' formation.id %}">exporter</a>
			<a href="{% url 'delete_formation' formation.id %}">supprimer</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}