{% load i18n %}{% autoescape off %}
{% blocktrans %}Bonjour, vous recevez cet e-mail, car vous avez demande la réinitialisation du mot de passe de votre compte utilisateur à l'adresse {{ site_name }}.{% endblocktrans %}

{% trans "Veuillez vous rendre sur la page suivante et choisir un nouveau mot de passe:" %}
{% block reset_link %}
http://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Ceci est votre nom d'utilisateur:" %} {{ user.get_username }}

{% trans "Merci d'utiliser MA PAGE FORMATION!" %}

{% blocktrans %}L'equipe de  {{ site_name }} {% endblocktrans %}

{% endautoescape %}