{% extends 'accounts/dashbord.html' %}





{% block content %}
<style type="text/css">
    input{
        height: 2rem;
        width: 15rem;
        box-shadow: 0 0 15px #999999;
        padding-left: 1rem;
    }
    button{
        padding: .5rem .5rem;
        background: #ccc;
        cursor: pointer;
        padding-left: 1rem;
        border-radius: .3rem;
    }
</style>
<div class="" style="margin-top: 2rem; font-size: 2rem;padding: 2rem 9%;">
    <h4>Réinitialiser le mot de passe</h4>
    <form method="post" class="passForgot" style="font-size:2rem;">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit">submit</button>
    </form>
</div>
{% endblock %}

