{% extends 'accounts/dashbord.html' %}



{% block content %}

<style type="text/css">
    input{
        height: 2rem;
        width: 15rem;
        box-shadow: 0 0 15px #999999;
        padding-left: 1rem;
    }
    
</style>

<div style="margin-top: 2rem; padding: 2rem 9%;">
  <h3>Réinitialiser le mot de passe</h3>
  <h4>Entrer votre mot de passe</h4>
  <form class="form motPass" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}
  <button type="submit" class="btn"><i class="icon-lock4"></i> Changer le mot de passe</button>
  </form> 
</div>
{% endblock %}

